{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block styles %}
<style>
    h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }
    p {
        font-size: 1.2rem;
        margin-bottom: 30px;
        color: #bdc3c7;
    }
    .button-container {
        display: flex;
        gap: 20px;
    }
    .button {
        padding: 15px 30px;
        font-size: 1.2rem;
        color: #ecf0f1;
        background: #2980b9;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        transition: background 0.3s ease;
    }
    .button:hover {
        background: #3498db;
    }
</style>
{% endblock %}

{% block content %}
    <h1>Добро пожаловать в SmartDining!</h1>
    <p>Вы тут первый раз? Зарегистрируйтесь! Уже есть аккаунт? Тогда войдите.</p>
    <div class="button-container">
        <a href="/auth/register" class="button">Регистрация</a>
        <a href="/auth/login" class="button">Войти</a>
    </div>
{% endblock %}
