{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block styles %}
<style>
    h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 300px;
    }
    input {
        padding: 10px;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
    }
    button {
        padding: 15px;
        font-size: 1.2rem;
        color: #ecf0f1;
        background: #2980b9;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s ease;
    }
    button:hover {
        background: #3498db;
    }
    .video-container {
        position: relative;
        display: inline-block;
    }
    #video-stream {
        width: 300px;
        height: auto;
        border: 5px solid #2980b9;
        border-radius: 10px;
        display: block;
    }
    .face-frame {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 110px;
        height: 160px;
        border: 2px dashed #ecf0f1;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        opacity: 0; /* Изначально скрыта */
        transition: opacity 1s ease-in-out; /* Плавный переход */
    }
    .face-frame.visible {
        opacity: 1; /* Стиль для видимой рамки */
    }
</style>
{% endblock %}

{% block content %}
    <h1>Регистрация</h1>
    <form method="post" action="/register">
        <input type="text" id="username" name="username" placeholder="Имя пользователя" required>
        <div class="video-container">
            <img id="video-stream" src="/video_stream" alt="Поток с камеры" onload="showFaceFrame()">
            <div id="face-frame" class="face-frame"></div>
        </div>
        <p>Для завершения регистрации смотрите в камеру и нажмите "Зарегистрироваться".</p>
        <button type="submit">Зарегистрироваться</button>
        <a href="/">На главную</a>
    </form>

    <script>
        function showFaceFrame() {
            const delay = 300; // 0.5 секунды

            setTimeout(() => {
                const faceFrame = document.getElementById('face-frame');
                faceFrame.classList.add('visible');
            }, delay);
        }
    </script>
{% endblock %}
